NEXT_PUBLIC_SUPABASE_URL=https://qqpbqopkqxwfkifchscf.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_8NXU8L2YSzEYYhYarARqSA_T3epdzzH
SUPABASE_SERVICE_ROLE_KEY=your-service-role-key
NEXT_PUBLIC_SITE_URL=http://localhost:3000

NEXT_PUBLIC_SUPABASE_URL=https://qqpbqopkqxwfkifchscf.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_8NXU8L2YSzEYYhYarARqSA_T3epdzzH
NEXT_PUBLIC_SITE_URL=https://parfume-badou.vercel.app

EXPO_PUBLIC_SUPABASE_URL=https://qqpbqopkqxwfkifchscf.supabase.co
EXPO_PUBLIC_SUPABASE_KEY=sb_publishable_8NXU8L2YSzEYYhYarARqSA_T3epdzzH
        
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_DEFAULT_KEY=sb_publishable_8NXU8L2YSzEYYhYarARqSA_T3epdzzH
